.search {
  color: #333333;
  font-family: Lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.rectanlge {
  background-color: #F1F1F1;
  width: 190px;
  height: 37px;
	padding-top:10px;
	padding-left:10px;
}
