.search {
  color: #333333;
  font-family: Lora;
  font-size: 12px;
  font-weight: 400;
  line-height: 14px;
  text-align: left;
}

.rectanlge {
  background-color: #F1F1F1;
  width: 190px;
  height: 37px;
	padding-top:10px;
	padding-left:10px;
}

.discount { 
	background-color:#333333; 
	position: absolute; 
	top: 0;
	left: 0;
	width: 100%;
	text-align:center;
	font-family: 'Roboto', sans-serif;
  	font-size: 12px;
  	font-weight: 400;
  	line-height: 14px;
	align: center;
	height:35px;
}

table, td, th {  
  text-align: left;
}

table {
  border-collapse: collapse;
  width: 100%;
}

th, td {
  padding: 15px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline;
}
